.row1 div{
  border: 3px solid red;
  height:50px;
  background: green;
}
.row div{
  border: 6px solid orange;
  height:60px;
  background: gold;
}
.col-md-4 {
    align-content: center;
}

body {
    min-height: 2000px;
}
#a div{
    border: 0px;
    background-color: white;
}